#loginform {
  display: none;
}

body.login {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  background-color: #f0f2f5 !important;
  padding: 0 15px;
}
body.login .language-switcher {
  display: none;
}

img.mo_openid_image {
  display: none !important;
  width: 100%;
}
body.login div#login h1 a {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
a {
  cursor: pointer;
  text-decoration: none;
}

#registerform,
#loginform,
#lostpasswordform,
#resetpassform,
.reset-form {
  margin: auto;
  width: 530px;
  border-radius: 7px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 20px 30px;
}
#registerform .mo-openid-app-icons {
  display: none;
}
#registerform br {
  display: none;
}

#loginform br {
  display: none;
}

.login .button.wp-hide-pw .dashicons {
  display: none;
}
.btn-facebook-link svg {
  display: none;
}
.screen-reader-text {
  display: none;
}
#backtoblog {
  display: none;
}
.login #nav {
  margin: 24px 0;
}

.mo-openid-app-icons {
  margin-top: 30px;
}

#login_error,
.message,
.mo-openid-app-icons p,
.mo-openid-app-icons a.mo_btn {
  display: none;
}
.header-login {
  display: block;
}
.login-header {
  padding-bottom: 50px;
  width: 200px;
  margin: auto;
}
.login-header .Feedbo a {
  color: inherit !important;
}
.login-header .Feedbo a:hover {
  text-decoration: none;
}
.icon-vote {
  width: 60px;
  color: #0ab8f9;
  margin: auto;
  padding-top: 50px;
}
.Feedbo-login {
  margin: auto;
  padding-top: 13px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a2a37;
}
.Feedbo-login a {
  color: #1a2a37;
}
.Feedbo-login a:hover {
  color: inherit;
}
.feedbo-login-text {
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a2a37;
  margin-bottom: 20px;
  padding-top: 15px;
}
.feedbo-login-text span {
  display: block;
  text-align: center;
}
.button-facebook {
  background-color: #1877f2;
  box-shadow: 0px 38.4869px 71.4756px rgba(0, 0, 0, 0.07);
  color: #ffffff;
}
.button-facebook:hover {
  background-color: #478be3;
}
.button-google {
  background-color: #ffffff;
  box-shadow: 0px 38.4869px 71.4756px rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.54);
}
.button-google:hover {
  opacity: 0.7;
}
.button-email {
  background-color: #000000;
  box-shadow: 0px 38.4869px 71.4756px rgba(0, 0, 0, 0.07);
  color: #ffffff;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}
.button-email:hover {
  background-color: #494949;
}
.button-facebook,
.button-google,
.button-email {
  font-size: 0.9rem;
  line-height: 1;
  width: 100%;
  height: 45px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  max-width: 65%;
  margin: 0 auto 20px;
}
.button-facebook .anticon,
.button-google .anticon,
.button-email .anticon {
  line-height: normal;
}
.button-facebook .anticon svg,
.button-google .anticon svg,
.button-email .anticon svg {
  max-width: 22px;
}
.Facebook,
.Google,
.Email {
  font-weight: 400;
  margin: auto 10px;
}

.login-form-footer + #div-header {
  margin-top: 20px;
}

#div-header {
  text-align: center;
}

.Rectangle-242 {
  margin-top: 40px;
  width: 100%;
  height: 1px;
  background-color: #e6e8eb;
}
.login-form-footer {
  padding-top: 13px;
  margin: auto;
  width: 100%;
  font-size: 0.75rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #74788d;
  text-align: center;
}
#nav {
  display: none;
}
.wp-pwd {
  display: none;
}
.submit {
  display: none;
}
.forgetmenot {
  display: none;
  margin-bottom: 20px;
}
.forgetmenot input[type="checkbox"] {
  width: 0;
  height: 0;
  opacity: 0;
}
.forgetmenot input + label {
  position: relative;
  padding-left: 25px !important;
  cursor: pointer;
}
.forgetmenot label::before,
.forgetmenot label::after {
  content: "";
  position: absolute;
}
.forgetmenot label::before {
  top: -2px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.forgetmenot label::after {
  left: 6px;
  top: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #1890ff;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.forgetmenot input:checked + label::after {
  opacity: 1;
}
#registerform label {
  display: block !important;
}

#login form label {
  display: none;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.88);
}
#login form .ant-btn-primary {
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
  border: 0;
  border-radius: 5px;
  padding: 10px 15px;
  height: auto;
}
#login form .ant-btn-primary:hover {
  color: #fff;
  background-color: #4096ff;
}
#login form .input {
  padding: 12px 15px;
  width: 100%;
  box-shadow: none;
  outline: 0;
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
  font-size: 1rem;
  height: 40px;
}
.button-secondary {
  display: none !important;
}
.button-rememberme {
  opacity: 1 !important;
  position: relative !important;
}
.email-active {
  display: block !important;
}
.user-pass-wrap {
  display: block !important;
  margin-bottom: 15px;
}
#lost-pass {
  float: right;
  font-size: 0.8rem;
  text-decoration: underline;
}
#lost-pass:hover {
  text-decoration: none;
}
#button-register {
  font-weight: 600;
  color: #1677ff;
  line-height: 1.2;
  border: 0;
  box-shadow: none;
  padding: 0;
  background-color: transparent;
}
#button-register:hover {
  text-decoration: underline;
}
.btn-register {
  width: 100%;
}

#resetpassform .user-pass1-wrap p {
  padding: 0px;
}

.register-header {
  margin-bottom: 30px;
}
.lostpass-button-login {
  margin-right: 10px;
}
.you-dont-have-account {
  font-style: italic;
  padding-right: 10px;
}
.login-back {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: #494949;
  font-size: 0.8rem;
  text-align: left;
  top: -10px;
}
.login-back::after {
  content: "Back";
  margin-left: 7px;
}
.login-back svg {
  max-width: 1rem;
}
@media only screen and (max-width: 600px) {
  #loginform,
  #registerform,
  #resetpassform,
  #lostpasswordform {
    width: 100%;
    padding: 20px;
  }
  .button-facebook,
  .button-google,
  .button-email {
    margin-bottom: 12px;
    max-width: 100%;
  }
  .feedbo-login-text {
    font-size: 22px;
  }
  .forgetmenot label::before {
    top: -1px;
    height: 18px;
    width: 18px;
  }
  .forgetmenot label::after {
    left: 5px;
  }
}

.feedbo-main-logo {
  width: 100%;
}
